<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/blog.css" rel="stylesheet">
  </head>
  <body style="padding:0;width: 100%;" >
    <div id="commentbox" class="container"></div>
    <script src="/javascripts/main.js"></script>
  </body>
</html>